{% unless post.exclude %}

  {%- include read-time.html -%}

  <li class="post-list-item group">

    <div class="col-7">
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% assign date_difference = nowunix | minus: posttime %}
      
      {% if date_difference <= 604800 %}
        <span class="tag-new uppercase">New</span>
      {% endif %}

      {% if include.type == "general" %}
        <a href="/{{ post.categories[0] | downcase }}/" class="uppercase f-acumin post-list-category f-s-14px">{{ post.categories[0] | replace: '-',' ' }}</a>
      {% endif %}

      {% if include.type == "specific" %}
        {% if post.edition %}
          <p class="uppercase f-acumin post-list-category f-s-14px no-bottom-margin">Edition {{ post.edition | replace: '0', '' }}</p>
        {% endif %}
      {% endif %}

      <h3 class="h2">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {% if post.title-short %}
            {{ post.title-short | escape }}
          {% else %}
            {{ post.title | escape }}
          {% endif %}
        </a>
      </h3>

      <p class="post-meta">
        <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time> ~ {{ reading_time }}
      </p>

      {% if include.intro %}
        <p>{{ post.intro }}</p>
      {% endif %}

      {% if include.tags %}
        <div class="post-tags no-bottom-margin">
          <ul class="no-bottom-margin">
            {% for tag in post.tags %}
            <li class="post-tag tag f-acumin">
              {{ tag | replace: '-',' ' }}
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>

    {%- if post.image -%}
      <div class="col-4 off-1 hide-mobile no-bottom-margin">
        {%- include post-list-image.html -%}
      </div>
    {%- endif -%}

  </li>

{% endunless %}