.paperback-options {
  list-style: none;
  max-width: 300px;

  li {
    display: inline-block;
    width: 40%;
    margin-bottom: 0;
  }
}

.buy-button {
  @include margin-bottom(0.5);
}

.money-back {
  font-size: 10px;
  color: #65BD88;
  text-transform: uppercase;
  background: url(/assets/img/tick-small.png) no-repeat left center;
  background-size: 18px 18px;
  padding-left: 25px;
  text-align: left;
  max-width: 192px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.variant-ebook {
  margin-right: 4%;
  position: relative;
}

.book-main {
  text-align: center;
  @media screen and (min-width: 47.5em) {
    text-align: left;
  }

  img {
    max-width: 150px;
    float: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 47.5em) {
      max-width: 30%;
      float: left;
      @include padding(0,1.5,0,0)
    }
  }

  .button, p {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 47.5em) {
      margin-left: 0;
    }
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    @include font-size(2);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .tagline {
    margin: 0;
    @include margin-bottom(0.5);
    @include margin-top(0.5);
  }

  p {
    margin-bottom: 0;
  }

  @media screen and (min-width: 760px) {
    max-width: 850px;
    // .button {
    //   float: left;
    // }
  }
}

.book-rating {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.price {
  color: $bwt-red;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  @include line-height(1.5);
}

.sticker {
  display: block;
  width: 60px;
  height: 60px;
  background: $bwt-mix;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: -20px;
  font-family: $custom-font-acumin;
  font-size: 18px;
  padding-top: 17px;
  text-align: center;
}

.original-price {
  color: #c0c0c0;
  margin-bottom: 0;
  font-family: $custom-font-headings;
  @include font-size(2.22222222);
  // @include margin-bottom(0.5);
  @include line-height(1.5);

  span {
    color: $color-font-body;
    // text-decoration: line-through;
    position: relative;
  }

  span::before {
    content: '';
    border-bottom: 2px solid $color-font-body;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.book-info {
  width: 100%;
  @media screen and (min-width: 760px) {
    // max-width: 65%;
  }
}

body.book-page article, body.book-page-deluxe article {
  max-width: none;
}

.featured-logo img {
  width: 60%;
  max-width: 270px;
  @include margin-bottom(0);
  @media screen and (min-width: 760px) {
    width: 100%;
    @include margin-top(1);
    @include margin-bottom(1);
  }
}

.max-width {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.purchase-bottom {
  @include margin-top(2);
  @include margin-bottom(3);

  .cover {
    @include margin-bottom(1);
    max-width: 119px;
  }

  h1 {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
    text-transform: none;
    margin: 0;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    @include font-size(1.6);
    @include line-height(1.5);
    @include margin-bottom(0.5);
  }

  .price {
    @media screen and (min-width: 760px) {
      font-size: 60px;
      @include margin-bottom(1.5);
    }
  }

  small {
    font-family: "acumin-pro", Helvetica, Arial, sans-serif !important;
  }

  .paypal {
    margin-top: 0;
    max-width: 94px;
  }
}

.toc {
  // width: 100%;
  @media screen and (min-width: 64em){
    width: 30%;
    // float: left;
  }

  li {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
  }
}

.features {
  width: 100%;

  @media screen and (min-width: 64em){
    width: 59%;
    float: left;
  }
}

.small-caps {
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
}

.half-bottom-margin {
  @include margin-bottom(0.5);
}

.book-feature {
  @media screen and (min-width: 29.375em) {
    width: 50%;
    float: left;
  }
  @include margin-bottom(2);
  padding-right: 20px;


  h3 {
    @include font-size(2);
    @include line-height(1.5);
    @include margin-bottom(0.5);
    @include margin-top(0.5);
  }

  img {
    margin: 0;
    @include margin-bottom(1);
  }

  .red-font {
    font-size: 6rem;
  }
}

.all-caps {
  font-family: $custom-font-headings;
  text-transform: uppercase;
}

.red-font {
  color: $bwt-red;
}

.book-reviews {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  p {
    max-width: 400px;
  }
}

.anim-delay-1 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.anim-delay-2 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

.anim-delay-3 {
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
}

.anim-delay-4 {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
}

.faq {
  padding: 0 5%;
}

.countdown .tagline {
  margin-bottom: 0;
}

// Slider
.container {
  width: 100%;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  max-width: none!important;
  clear: left;
}
ul.tabs li {
  background: none;
  // display: inline-block;
  // padding: 10px 15px;
  cursor: pointer;
  // width: 16%;
  opacity: 0.3;
  border-left: 2px #fafafa solid;
  @include margin-bottom(1);
  vertical-align: top;
  padding-left: 10px;

  @media screen and (min-width: 80em){
    max-width: 80%;
  }

  span {
    display: block;
    text-transform: uppercase;
    font-family: "acumin-pro-extra-condensed", Helvetica, Arial, Sans-serif;
    font-size: 1.7rem;
    @include line-height(1);
    @include margin-bottom(0.5);
    padding-bottom: 5px;
  }
}

ul.tabs li.current {
  border-left: 2px $bwt-red solid;
  opacity: 1;
}

.tab-content, .tab-content-cs {
  display: none;
  // background: #ededed;
}

.tab-content.current, .tab-content-cs.current {
  display: inherit;
}

@media screen and (min-width: 91em){
  .tab-content img {
    float: right;
    margin-right: -10%;
  }
}

@media screen and (min-width: 105em){
  .tab-content img {
    margin-right: -15%;
  }
}

@media screen and (min-width: 110em){
  .tab-content img {
    margin-right: -20%;
  }
}

@media screen and (min-width: 115em){
  .tab-content img {
    margin-right: -25%;
  }
}

@media screen and (min-width: 120em){
  .tab-content img {
    margin-right: -30%;
  }
}

.ipad {
  background: url(images/ipad-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55%;
  max-width: 760px;
  float: left;
  margin-bottom: 0;

  img {
    position: relative;
    padding: 5% 15% 20% 26.5%;
  }
}

.book-details {
  display: none;
  padding: 3%;
  position: relative;

  @media screen and (min-width: 48em){
    display: block;
  }
}

.slide-details {
  float: left;
  width: 44%;

  h2 {
    color: $bwt-red;
    @include margin-bottom(1);
    @include margin-top(0);
    max-width: 9em;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 0;
  }

  p, li {
    max-width: 27em;
  }

  li {
    margin-bottom: 0;
  }
}

#next, #prev {
  position: absolute;
  top: 40%;
  z-index: 1000;
}

#next {
  right: 4%;
}

#prev {
  left: 3%;
}

.tab-content {
  position: relative;
  margin-bottom: 0;
}

.slide-details {
  padding-top: 3%;
}

.tab-content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.see-more {
  display: block;
  max-width: 200px;
  height: 60px;
}

.arrow-down {
  display: block;
  position: relative;
  width: 30px;
  margin: 5px auto;
}

.paypal-logo {
  float: none!important;
  display: inline;
  margin: 0;
  max-width: 200px!important;
  padding: 0!important;
}

.tabs-cheatsheet {
  list-style: none;
  width: 100%;
  text-align: center;
  font-family: $custom-font-acumin;
  font-weight: bold;
  max-width: none;
  position: absolute;
  bottom: -20px;
  margin-bottom: 0;
  font-size: 0.9rem;

  li {
    display: inline-block;
    margin: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .current {
    border-bottom: 3px solid $bwt-red;
  }
}

.cheatsheet {
  position: relative;
  margin-bottom: 0;
}