ul, ol {
  max-width: #{$max-width + 'em'};
  padding: 0;
}

article ul {
  // padding-left: 20px; removed because it messed up the lists in the sidebar

  @media screen and (min-width: 40em){
    padding-left: 0;
  }
}

.post-content {
  ul li, ol li {
    @include margin-bottom(0.5);

    p {
      margin-bottom: 0;
    }
  }
}