<div class="post-about-author">
  <h2 id="about-author">About the Author</h2>
  <img src="{{ author.avatar }}" alt="{{ author.name }}" class="floatRight post-author-avatar">
  <p class="author-bio">{{ author.bio }}</p>
    {%- if author.twitter -%}
    <a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>&nbsp;
    {%- endif -%}
    {%- if author.website -%}
    | <a href="//{{ author.website }}">{{ author.website }}</a>
    {%- endif -%}
</div>