<section class="widget alignCenter">
  <a href="/web-typography-book/">
    <img srcset="/assets/img/book-image-centred.png,
                /assets/img/book-image-centred@1-5x.png 1.5x,
                /assets/img/book-image-centred@2x.png 2x" src="/assets/img/book-image-centred.png"
      alt="Better Web Type book" class="floatCenter">
  </a>
  <img srcset="/assets/img/rating.png,
                /assets/img/rating@1-5x.png 1.5x,
                /assets/img/rating@2x.png 2x" src="/assets/img/rating.png"
    alt="5 stars" class="floatCenter rating bottom-margin-half">
  <p class="f-s-20px floatCenter"><em>“Incredibly informative, wonderfully written.”</em></p>
  <p class="f-acumin floatCenter"><strong>A web typography book for web designers and developers.</strong></p>
  <a href="/web-typography-book/" class="button floatCenter">Check it out</a>
</section>