<section class="widget alignCenter no-padding-bottom">
  <h1 class="h2 max-width-500px floatCenter">Take the free web typography course</h1>
  <p class="f-acumin max-width-500px floatCenter">Get 7 free email lessons and learn how to design & build websites with awesome typography.</p>
  <a href="/web-typography-course/" class="button floatCenter">Get started</a>
  <p class="small f-acumin floatCenter">You’ll receive your first lesson in less than a minute.</p>
  <img srcset="
    /assets/img/course/course-widget-image.png,
    /assets/img/course/course-widget-image@1-5x.png 1.5x,
    /assets/img/course/course-widget-image@2x.png 2x" src="/assets/img/course/course-widget-image.png" alt="Example lesson"
    class="floatCenter no-bottom-margin">
</section>