{% if include.full-bleed %}
  <figure class="full-bleed-image">
{% else %}
  <figure class="regular-image">
{% endif %}
  <!-- <img src="{{ include.url }}" alt="{{ include.description }}"> -->
  <img srcset="{{ include.url | replace: '@2x','' }},
    {{ include.url | replace: '@2x','@1-5x' }} 1.5x,
    {{ include.url }} 2x" src="{{ include.url }}" alt="{{ include.caption }}">
  <figcaption>
    {{ include.caption }} {% if include.source %}(<a href="{{ include.source }}">Source</a>){% endif %}
  </figcaption>
</figure>