
<div class="related-read">
  {%- for post in site.posts -%}
    {%- include read-time.html -%}

    {%- if post.title == include.title -%}
      
      <div class="flex-wrap-c-center-mobile no-bottom-margin">
        <div class="related-read-title no-bottom-margin">
          <p class="related-read-meta no-bottom-margin f-s-16px f-acumin">Related read | ~ {{ reading_time }}</p>
          <a href="{{ post.url }}"><h1 class="no-bottom-margin right-pad-20px">{{ post.title }}</h1></a>
        </div>
        {%- if post.image -%}
          <div class="d-inline no-bottom-margin related-read-image">
            {%- include post-list-image.html -%}
          </div>
        {%- endif -%}
      </div>

    {%- endif -%}
  {%- endfor -%}
</div>