<div class="post-share">
  <hr class="small-hr no-bottom-margin">
  <h1 class="h4 no-top-margin">Share</h1>
  <ul>
    <li><a
        href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title | url_encode }}&via=matejlatin&hashtags=betterWebType%2C%20typography">
        <svg class="">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter-large' | relative_url }}"></use>
        </svg>
      </a>
    </li>
    <li><a
        href="https://www.facebook.com/sharer.php?s=100&p[url]={{ site.url }}{{ page.url }}&p[title]={{ page.title | url_encode }}">
        <svg class="">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook-large' | relative_url }}"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>