---
layout: default
---

<article>

  <div class="max-width-hdpi memory-game-intro">
    <div class="intro-wrap group no-bottom-margin side-pad-10 flex">
      <div class="intro no-bottom-margin col-5 off-1">
        <h1 class="">Font<br>Memory<br>Game</h1>
        <hr>
        <p class="tagline-small">Recognizing different styles of fonts is one of the most challenging parts of
          typography. This game helps you train your eyes to notice the smallest details.</p>
        <a href="javascript:void(0)" class="button alignCenter play_fgm">Play the game</a>
      </div>
      <div class="col-6 hide-mobile">
        <figure class="t-m-4">
          <picture>
            <source srcset="/assets/img/memory-game/font-memory-game@2x.jpg 2x, /assets/img/memory-game/font-memory-game.jpg"
              media="(max-width: 450px)">
            <source srcset="/assets/img/memory-game/font-memory-game@2x.jpg 2x, /assets/img/memory-game/font-memory-game.jpg">
            <img src="/assets/img/memory-game/font-memory-game.jpg" alt="Font memory game">
          </picture>
        </figure>
      </div>
    </div>
  </div>

  <div class="not-supported curtain alignCenter bg-dark f-smoothing side-pad-10">
    <h2 class="floatCenter">Not supported</h2>
    <p class="floatCenter">Sorry, this game can’t be played on mobile devices.</p>
  </div>

  <div class="fmg-splash no-bottom-margin alignCenter hide">
    <h2 class=" floatCenter t-m-4">1/2</h2>
    <p class="uppercase f-acumin f-s-14px  floatCenter">Normal Difficulty</p>
    <div class="awards group floatCenter">
      <div class="t-shirt floatLeft">
        <img src="/assets/img/memory-game/fmg-t-shirt.png" width="138" class="floatCenter">
        <strong class="f-acumin">T-shirt giveaway</strong>
        <p class="">Tweet your best score to enter the T-shirt giveaway*</p>
      </div>
      <div class="book-giveaway floatLeft">
        <img src="/assets/img/memory-game/fmg-book.png" width="130" class="floatCenter">
        <strong class="f-acumin">-30% discount</strong>
        <p class="">Get an instant discount on the Better Web Type ebook.</p>
      </div>
    </div>
    <a href="javascript:void(0)" class="fmg-btn-start button alignCenter floatCenter course_button">Start</a>
    <p class="fmg-disclaimer f-s-14px floatCenter">* Winner will be randomly chosen and announced on July 24 2018 via <a
        href="https://twitter.com/matejlatin" target="_blank">Twitter</a>.</p>
  </div>

  <section class="score-panel group hide">
    <div class="floatLeft moves-counter no-bottom-margin">
      <span class="score-number f-acumin-c"><span class="moves">0</span>/25</span>
      <br><strong class="f-s-14px f-acumin">Moves</strong>
    </div>
    <div class="time floatLeft no-bottom-margin">
      <span class="f-acumin-c score-number"><span class="timer"></span></span>
      <br><strong class="f-s-14px f-acumin">Time</strong>
    </div>
    <div class="pairs no-bottom-margin">
      <img src="/assets/img/memory-game/font-pair.jpg" width="62" class="floatLeft">
      <div class="floatLeft no-bottom-margin">
        <span class="score-number f-acumin-c"><span class="pairs-found">0</span>/10</span>
        <br><strong class="f-s-14px f-acumin">Pairs found</strong>
      </div>
    </div>
  </section>

  <div class="game floatCenter level-1 group hide">
    <ul class="deck floatCenter" id="card-deck">
      <li class="card" type="questa-grande">
        <img src="/assets/img/memory-game/memory-game-fonts/questa-grande.jpg">
      </li>
      <li class="card" type="questa-grande">
        <img src="/assets/img/memory-game/memory-game-fonts/questa-grande.jpg">
      </li>
      <li class="card match" type="futura">
        <img src="/assets/img/memory-game/memory-game-fonts/futura.jpg">
      </li>
      <li class="card" type="futura">
        <img src="/assets/img/memory-game/memory-game-fonts/futura.jpg">
      </li>
      <li class="card" type="haylard-display">
        <img src="/assets/img/memory-game/memory-game-fonts/haylard-display.jpg">
      </li>
      <li class="card match" type="haylard-display">
        <img src="/assets/img/memory-game/memory-game-fonts/haylard-display.jpg">
      </li>
      <li class="card" type="garamond">
        <img src="/assets/img/memory-game/memory-game-fonts/garamond.jpg">
      </li>
      <li class="card" type="garamond">
        <img src="/assets/img/memory-game/memory-game-fonts/garamond.jpg">
      </li>
      <li class="card" type="helvetica">
        <img src="/assets/img/memory-game/memory-game-fonts/helvetica.jpg">
      </li>
      <li class="card" type="helvetica">
        <img src="/assets/img/memory-game/memory-game-fonts/helvetica.jpg">
      </li>
      <li class="card" type="droid-serif">
        <img src="/assets/img/memory-game/memory-game-fonts/droid-serif.jpg">
      </li>
      <li class="card" type="droid-serif">
        <img src="/assets/img/memory-game/memory-game-fonts/droid-serif.jpg">
      </li>
      <li class="card open show" type="slabo">
        <img src="/assets/img/memory-game/memory-game-fonts/slabo.jpg">
      </li>
      <li class="card" type="slabo">
        <img src="/assets/img/memory-game/memory-game-fonts/slabo.jpg">
      </li>
      <li class="card" type="gill-sans">
        <img src="/assets/img/memory-game/memory-game-fonts/gill-sans.jpg">
      </li>
      <li class="card" type="gill-sans">
        <img src="/assets/img/memory-game/memory-game-fonts/gill-sans.jpg">
      </li>
      <li class="card open show" type="baskerville">
        <img src="/assets/img/memory-game/memory-game-fonts/baskerville.jpg">
      </li>
      <li class="card" type="baskerville">
        <img src="/assets/img/memory-game/memory-game-fonts/baskerville.jpg">
      </li>
      <li class="card" type="gibson">
        <img src="/assets/img/memory-game/memory-game-fonts/gibson.jpg">
      </li>
      <li class="card" type="gibson">
        <img src="/assets/img/memory-game/memory-game-fonts/gibson.jpg">
      </li>
    </ul>

    <div id="popup1" class="overlay curtain alignCenter bg-dark f-smoothing side-pad-10">
      <div class="alignCenter floatCenter t-m-2">
        <span class="uppercase f-acumin f-s-14px">Level 1</span><br>
        <h2 class="floatCenter no-top-margin"></h2>
        <hr class="floatCenter small-hr">
        <div class="content-1 floatCenter f-acumin">
          Your result:
        </div>
        <div class="content-2 group floatCenter">
          <p class="floatLeft w-50p no-bottom-margin"><span class="score-number f-acumin-c"><span id=finalMove>
              </span>/25</span>
            <br><strong class="f-s-14px f-acumin">Moves</strong></p>
          <p class="floatLeft w-50p no-bottom-margin"><span class="score-number f-acumin-c"><span id=totalTime>
              </span></span>
            <br><strong class="f-s-14px f-acumin">Time</strong></p>
        </div>
        <a class="shareTw" target="_blank">Tweet</a> <a class="shareFb" target="_blank">Share</a>
        <!-- <div class="fmg-msg f-acumin floatCenter t-m-1 b-m-2">
            <div class="game-over no-bottom-margin">You need to complete the game in <strong>2 minutes</strong> and <strong>25 moves</strong> to unlock the 30% book discount.</div>
            <div class="level-complete no-bottom-margin group">
              <img src="/assets/img/memory-game/paperback-icon-alt.png" width="73" alt="Better Web Type book" class="floatLeft">
              <div class="floatLeft alignLeft no-bottom-margin">
                <p class="discount-code f-acumin-c">BWT30OFF</p><br>
                <p class="no-bottom-margin">Use the promo code at the checkout to get <strong>30% off</strong> the <a href="https:/betterwebtype.com/web-typography-book">Better Web Type ebook</a>.</p>
              </div>
            </div>
          </div> -->
        <div class="fmg-buttons">
          <a href="javascript:void(0)" class="fmg-btn-again button alignCenter floatCenter course_button">Try again</a>
          <a href="/font-memory-game-hard" class="fmg-btn-next button alignCenter floatCenter course_button">Next
            level</a>
        </div>
      </div>
    </div>
  </div>

</article>

<link rel="stylesheet" type="text/css" href="/assets/memory-game.css">